.hours__container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
   
}
.hours__container-selection{
    margin-bottom: .5rem;
}
.hours__container-selection-title{
    margin-bottom: .5rem;
    border-bottom: 2px solid var(--color-bg);
}
.hours__container-selection-select{
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid var(--color-light);
    background: var(--color-bg);
    color: var(--color-primary-variant);
    padding: .3rem;
}
